.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  text-align: center;
}

.App-title {
  font-size: 6em;
  margin: 0;
  padding: 150px 0 25px;
}

.App-intro {
  font-size: 1.5em;
  font-style: italic;
}

.Login-buttons {
  /*background-color: #0077b3;*/
  border-radius: 5px;
  border-style: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.25em;
  text-decoration: none;
}

.Login-buttons:hover {
  background-color: #0099e6;
  color: #fff;
}
